---
import CommonLayout from '@/components/common-layout.astro';
import { Code } from 'astro:components';

const code = `<div class="slot">
  <slot name="slot-header">
    <!-- Named Slot이 없는 경우 대체 콘텐츠 -->
    <div>대체 Header</div>
  </slot>
  <slot name="slot-content" />
</div>
`;
---

<CommonLayout title="Post">
  <div>Blog Post</div>
  <Code code={code} lang="html" wrap />
</CommonLayout>
