---
import CommonLayout from '@/components/common-layout.astro';
import Header from '@/components/header.astro';
---

<CommonLayout title="Home">
  <Header />
  <div transition:name="page">
    <h1>Astro</h1>
  </div>
  <div>Home의 본문</div>
</CommonLayout>
